requests==2.21.0
watson_developer_cloud==2.8.0
numpy==1.16.4
Wand==0.5.3
google_auth_oauthlib==0.3.0
~pencv_python==3.4.2.16
nltk==3.4
Algorithmia==1.1.4
Pillow==6.0.0
google_api_python_client==1.7.9
