google_auth_oauthlib==0.3.0
watson_developer_cloud==2.8.0
nltk==3.4.5

Wand==0.5.3
hurry.filesize==0.9
numpy==1.16.4
requests==2.21.0
Algorithmia==1.2.1
Pillow==8.2.0
google_api_python_client==1.7.11
hurry==1.1
